.grid-area_one{
    grid-area: a;
}
.grid-area_two{
    grid-area: b;
}
.grid-area_three{
    grid-area: c;
}
.grid-area_four{
    grid-area: d;
}
.grid-area_five{
    grid-area: f;
}
.grid-area_six{
    grid-area: i;
}