.logo--inner{
    position: relative;
    &::after{
        content: "";
        position: absolute;

        width: 14rem;
        height: 2px;

        left: -24px;
        bottom: 1.2rem;

        background: #656565dc;
    }
}
.logo{  
    font-family: $font-title;
    font-size: 1.9rem;
    font-weight: 700;
    color:$color-white;
}